<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test 3</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href = "/BSD">BSD Students</a></li>
                <li><a href = "">All Students</a></li>
                <li><a href = "/highGPA">Highest GPA</a></li>
                <li><a href = "/">Home</a></li>
            </ul>
            <hr>
            <div>
                {{{body}}}
            </div>
            <hr>
            <div>
                <h1>Student Honour Pledge:</h1>
                <p>I acknowledge Seneca College's academic integrity policy.<br>
                On my honor, I have neither given or recieved unauthorized aid on this test.
                </p>
                <p>Name: <mark><b>Tom Bragagnolo</b></mark></p>
                <p>Student Number: <mark><b>139157218</b></mark></p>
            </div>
        </div>
    </body>
</html>