<h1>Student List</h1>
<div>
    <table class="table">
        <tr>
            <td><b>Student Id</b></td>
            <td><b>Name</b></td>
            <td><b>Program</b></td>
            <td><b>GPA</b></td>
        </tr>
        {{#each students}}
            <tr>
                <td>{{studId}}</td>
                <td>{{name}}</td>
                <td>{{program}}</td>
                <td>{{gpa}}</td>
            </tr>
        {{/each}}
    </table>
</div>